<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BusScheduleCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>726428C71E962FFB004C21C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726428DE1E962FFB004C21C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>726428E91E962FFB004C21C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
